body {
  font-size: 1em;
  margin: 20px;
}

h1 {
  font-size: 1.6em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.4em;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  margin: 20px auto;
}

@media screen and (min-width: 800px) {
  body {
    background-color: lightgray;
    font-size: 2em;
    margin: 40px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
    width: 100%;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: wheat;
    font-size: 2.5em;
    text-align: center;
    margin: 60px auto;
    max-width: 1300px;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }
}