.super-mario {
    width: 200px;
    z-index: 1;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    z-index: 2;
    position: absolute;
    left: 200px;
    top: 300px;
  }
  
  .baloon {
  left: 220px;
  width: 200px;
  position: absolute;
  z-index: 4;
  top: 120px;
  }
  
  .speach {
    font-size: 18px;
    position: absolute;
    z-index: 5;
    left: 225px;
    top: 145px;
  }
  
  .bowser {
    width: 200px;
    z-index: 3;
    position: absolute;
    left: 400px;
    top: 200px;
  }